<%- include partials/header %>
    <div class="auth">
		<h1>Local Auth</h1>
		<button class="auth-field">
			<a href="/register">Sign Up</a>
		</button>
		<button class="auth-field">
			<a href="/login">Login</a>
		</button>
		<button class="auth-field">
			<a href="/logout">Logout</a>
		</button>
	</div>
<%- include partials/footer %>