<%- include partials/header %>
	<h1>Login here</h1>
	<form action="/login" method="POST">
		<input type="text" placeholder="user name" name="username" autocomplete="on" required>
		<input type="password" placeholder="password" name="password" autocomplete="off" required>
		<input type="submit">
	</form>
<%- include partials/footer %>