<%- include partials/header %>
	<h1>Sign Up Here</h1>
	<form action="/register" method="POST">
		<input type="text" placeholder="user name" autocomplete="username" name="username" required>
		<input type="password" placeholder="password" autocomplete="password" name="password" required>
		<input type="submit">
	</form>
<%- include partials/footer %>