<%- include partials/header %>
	<div class="secret">
		<h1>Only for Registered User</h1>
		<iframe src="https://giphy.com/embed/wDGCA2dv9VJxC" width="100%" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/jimmy-fallon-secret-dancing-gif-wDGCA2dv9VJxC">via GIPHY</a></p>
	</div>
<%- include partials/footer %>
